/*--------------------------------------------------------------
# why-sec
--------------------------------------------------------------*/
.why-sec {
	position: relative;
	padding-top: 40px;
	padding-bottom: 120px;
	@media only screen and (max-width: 1199px) {
		padding-bottom: 90px;
	}
	@media only screen and (max-width: 991px) {
		padding-bottom: 70px;
	}
	@media only screen and (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	@media only screen and (max-width: 482px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.middle {
		position: absolute;
		top: 16%;
		left: 0;
		z-index: -1;
		height: 350px;
		@media only screen and (max-width: 1399px) {
			height: 300px;
			left: -10px;
		}
		@media only screen and (max-width: 991px) {
			left: -40px;
		}
		@media only screen and (max-width: 767px) {
			height: 220px;
			left: -70px;
		}
	}

	.container {
		@media (min-width: 1200px) {
			max-width: 1250px;
		}
	}
	.sec-t {
		max-width: 500px;
		margin-bottom: 40px;
		@media only screen and (max-width: 1199px) {
			margin-bottom: 30px;
		}
		@media only screen and (max-width: 767px) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		h2 {
			font-size: 40px;
			font-weight: 600;
			color: var(--title-color);
			margin-bottom: 10px;
			@media only screen and (max-width: 991px) {
				font-size: 35px;
				margin-bottom: 5px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 32px;
			}
			@media only screen and (max-width: 482px) {
				font-size: 28px;
			}
		}
		p {
			@media only screen and (max-width: 482px) {
				font-size: 14px;
			}
		}
	}
	.arrow-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: var(--text-color);
		font-weight: 600;
		margin-top: 16px;
		transition: all 0.2s ease-in;
		@media only screen and (max-width: 991px) {
			margin-top: 10px;
		}
		@media only screen and (max-width: 767px) {
			display: none;
		}
		svg {
			height: 10px;
			fill: var(--text-color);
			transition: all 0.2s ease-in;
			margin-left: 4px;
		}
		&:hover {
			svg {
				transform: translateX(4px);
			}
		}
	}
}
.why-single {
	height: 100%;
	overflow: hidden;
	border-radius: 20px;
	background: rgba(15, 11, 47, 0.5);
	box-shadow: 0px 35px 100px 0px rgba(0, 0, 0, 0.15);

	@media only screen and (max-width: 767px) {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	@media only screen and (max-width: 482px) {
		max-width: 300px;
	}

	.why-head {
		padding: 40px 40px;
		@media only screen and (max-width: 991px) {
			padding: 30px 30px;
		}
		@media only screen and (max-width: 767px) {
			padding: 25px 25px;
		}

		h3 {
			font-size: 30px;
			color: var(--title-color);
			font-weight: 500;
			margin-bottom: 8px;
			@media only screen and (max-width: 991px) {
				font-size: 25px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 21px;
			}
			@media only screen and (max-width: 482px) {
				font-size: 19px;
			}
		}
		p {
			@media only screen and (max-width: 482px) {
				font-size: 13px;
			}
		}
	}
	.head-inner {
		max-width: 389px;
	}

	.why-body {
		text-align: center;
		padding: 0px 20px 35px 20px;
		@media only screen and (max-width: 991px) {
			padding: 0px 20px 35px 20px;
		}
		@media only screen and (max-width: 767px) {
			padding: 0px 20px 35px 20px;
		}
		.why-logo {
			// -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			// filter: grayscale(100%);

			width: 200px;
			height: 200px;
			border-radius: 100%;
			background-color: #402b52;
			text-align: center;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			@media only screen and (max-width: 991px) {
				width: 160px;
				height: 160px;
			}
			@media only screen and (max-width: 767px) {
				width: 130px;
				height: 130px;
			}
			svg {
				object-fit: contain;
				@media only screen and (max-width: 991px) {
					height: 80px;
				}
				@media only screen and (max-width: 767px) {
					height: 65px;
				}
			}
		}
	}
	transition: all 0.2s ease-in;
	&:hover {
		transform: translateY(-4px);
	}
}

/*--------------------------------------------------------------
# roadmap
--------------------------------------------------------------*/
.roadmap {
	padding: 110px 0px;
	@media only screen and (max-width: 1199px) {
		padding: 90px 0px;
	}
	@media only screen and (max-width: 991px) {
		padding: 80px 0px;
		text-align: center;
	}
	@media only screen and (max-width: 767px) {
		padding: 60px 0px;
	}

	@media only screen and (max-width: 482px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	background: linear-gradient(92deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.21) 100%);

	.map-txt {
		h2 {
			font-size: 40px;
			font-weight: 500;
			color: var(--title-color);
			margin-bottom: 30px;
			@media only screen and (max-width: 1199px) {
				font-size: 35px;
				margin-bottom: 20px;
			}
			@media only screen and (max-width: 991px) {
				font-size: 30px;
				margin-bottom: 15px;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}
			@media only screen and (max-width: 767px) {
				font-size: 25px;
			}
			@media only screen and (max-width: 482px) {
				font-size: 23px;
				margin-bottom: 10px;
			}
		}
		p {
			max-width: 373px;
			@media only screen and (max-width: 991px) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.map-click {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
		@media only screen and (max-width: 1199px) {
			margin-top: 20px;
		}
		@media only screen and (max-width: 991px) {
			justify-content: center;
			flex-direction: column;
			display: inline-flex;
		}
	}
	.click-tab {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		background: linear-gradient(
			91deg,
			rgba(255, 239, 248, 0.4) 3.2%,
			rgba(255, 152, 204, 0.14) 224.74%,
			rgba(255, 130, 192, 0.07) 282.98%
		);

		box-shadow:
			0px 1.689px 1.689px 0px rgba(0, 0, 0, 0.25) inset,
			0px 1.689px 1.689px 0px rgba(0, 0, 0, 0.25);

		border-radius: 50px;
		padding: 6px 20px;
		@media only screen and (max-width: 991px) {
			margin-bottom: 12px;
		}
		span {
			color: var(--text-color);
		}
		svg {
			height: 8px;
			fill: var(--text-color);
			margin: 0px 10px;
		}
		transition: all 0.2s ease-in;
		&:hover {
			transform: scale(1.01);
		}
	}
	.map-img {
		@media only screen and (max-width: 767px) {
			width: 100%;
			max-width: 300px;
		}
	}
	.map-light{
		display: none;
	}
}

/*--------------------------------------------------------------
# use-case
--------------------------------------------------------------*/
.use-case {
	position: relative;
	padding: 90px 0px;
	@media only screen and (max-width: 991px) {
		padding: 80px 0px;
	}
	@media only screen and (max-width: 767px) {
		padding: 50px 0px;
	}

	@media only screen and (max-width: 482px) {
		padding-left: 7px;
		padding-right: 7px;
	}

	.m-r {
		position: absolute;
		top: 20%;
		right: 5%;
		height: 300px;
		z-index: -1;
		@media only screen and (max-width: 1199px) {
			height: 250px;
			right: 0%;
			top: 15%;
		}
		@media only screen and (max-width: 767px) {
			height: 200px;
			right: -50px;
			top: 10%;
		}
		@media only screen and (max-width: 482px) {
			height: 150px;
		}
	}

	.container {
		/**Extra large devices (large desktops, 1200px and up) **/
		@media (min-width: 1200px) {
			max-width: 1250px;
		}
	}

	.sec-t {
		text-align: center;
		margin-bottom: 60px;
		@media only screen and (max-width: 1199px) {
			margin-bottom: 40px;
		}
		@media only screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
		h2 {
			font-size: 40px;
			font-weight: 500;
			color: var(--title-color);
			margin-bottom: 4px;
			@media only screen and (max-width: 1199px) {
				font-size: 35px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 30px;
			}
		}
		svg {
			margin-top: 35px;
			height: 32px;
			fill: url(#paint0_linear_624_2630);
			@media only screen and (max-width: 1199px) {
				margin-top: 25px;
			}
			@media only screen and (max-width: 767px) {
				margin-top: 20px;
				height: 30px;
			}
		}

		#paint0_linear_624_2630 stop:nth-child(1) {
			stop-color: white;
		}

		#paint0_linear_624_2630 stop:nth-child(2) {
			stop-opacity: 0;
		}
	}
}
.case-single {
	display: flex;
	align-items: center;
	background: linear-gradient(93deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.21) 100%);

	padding: 60px 60px;
	border-radius: 40px;
	@media only screen and (max-width: 1199px) {
		padding: 45px 45px;
	}
	@media only screen and (max-width: 767px) {
		padding: 30px 30px;
	}
	@media only screen and (max-width: 482px) {
		padding: 20px 20px;
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.gole {
		width: 240px;
		height: 240px;
		min-width: 240px;
		border-radius: 100%;
		background-color: #402b52;
		display: flex;
		align-items: center;
		justify-content: center;
		@media only screen and (max-width: 1199px) {
			width: 200px;
			height: 200px;
			min-width: 200px;
		}
		@media only screen and (max-width: 767px) {
			width: 150px;
			height: 150px;
			min-width: 150px;
		}
		@media only screen and (max-width: 482px) {
			width: 120px;
			height: 120px;
			min-width: 120px;
		}
		svg {
			width: 100%;
			max-width: 160px;
			height: 170px;
			object-fit: contain;
			@media only screen and (max-width: 1199px) {
				max-width: 130px;
				height: 140px;
			}
			@media only screen and (max-width: 767px) {
				max-width: 80px;
				height: 90px;
			}
			@media only screen and (max-width: 482px) {
				max-width: 70px;
				height: 70px;
			}
		}
		.arrow-cl{
			@media only screen and (max-width: 482px) {
				height: 50px;
			}
		}
	}

	.case-txt {
		padding-left: 40px;
		max-width: 650px;
		@media only screen and (max-width: 767px) {
			padding-left: 25px;
		}
		@media only screen and (max-width: 482px) {
			padding-left: 16px;
		}
		h3 {
			font-size: 34px;
			margin-bottom: 16px;
			@media only screen and (max-width: 1199px) {
				font-size: 30px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 26px;
				margin-bottom: 10px;
			}
			@media only screen and (max-width: 482px) {
				font-size: 21px;
				margin-bottom: 5px;
			}
		}
		p {
			font-size: 17px;
			@media only screen and (max-width: 767px) {
				font-size: 15px;
			}
			@media only screen and (max-width: 482px) {
				font-size: 14px;
			}
		}
	}

	transition: all 0.2s ease-in;
	&:hover {
		transform: scale(1.01);
	}
}

/*--------------------------------------------------------------
# team
--------------------------------------------------------------*/
.team {
	background: linear-gradient(92deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.21) 100%);
	padding: 90px 0px;
	@media only screen and (max-width: 991px) {
		padding: 80px 0px;
	}
	@media only screen and (max-width: 767px) {
		padding: 50px 0px;
	}

	@media only screen and (max-width: 482px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.container {
		/**Extra large devices (large desktops, 1200px and up) **/
		@media (min-width: 1200px) {
			max-width: 1250px;
		}
	}

	.sec-t {
		text-align: center;
		margin-bottom: 60px;
		@media only screen and (max-width: 1199px) {
			margin-bottom: 40px;
		}
		@media only screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
		h2 {
			font-size: 40px;
			font-weight: 500;
			color: var(--title-color);
			margin-bottom: 4px;
			@media only screen and (max-width: 1199px) {
				font-size: 35px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 30px;
			}
		}
	}
}

.team-single {
	border-radius: 50px;
	background: linear-gradient(93deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.21) 100%);
	display: block;
	width: 100%;
	text-decoration: none;
	height: 100%;
	text-align: center;
	padding: 30px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media only screen and (max-width: 991px) {
		min-height: 170px;
		padding: 20px 10px;
	}
	@media only screen and (max-width: 482px) {
		min-height: 140px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	svg {
		vertical-align: middle;
		fill: var(--title-color);
	}
	&.one {
		svg {
			width: 350px;
			height: 150px;
			object-fit: contain;
			vertical-align: middle;
			@media only screen and (max-width: 991px) {
				width: 100%;
				height: 130px;
				object-fit: contain;
			}
			@media only screen and (max-width: 482px) {
				height: 110px;
			}
		}
	}

	&.two {
		svg {
			width: 271px;
			height: 38px;
			object-fit: contain;
			vertical-align: middle;
			@media only screen and (max-width: 1199px) {
				width: 251px;
				height: 33px;
			}
			@media only screen and (max-width: 991px) {
				width: 100%;
				height: 40px;
				object-fit: contain;
			}
			@media only screen and (max-width: 482px) {
				height: 30px;
			}
		}
	}

	&.three {
		svg {
			width: 273px;
			height: 83px;
			object-fit: contain;
			vertical-align: middle;
			@media only screen and (max-width: 1199px) {
				width: 261px;
				height: 63px;
			}
			@media only screen and (max-width: 991px) {
				width: 100%;
				height: 80px;
				object-fit: contain;
			}
			@media only screen and (max-width: 482px) {
				height: 70px;
			}
		}
	}
	transition: all 0.3s ease-in;
	&:hover {
		transform: translateY(-4px);
	}
}

/*--------------------------------------------------------------
# Light theme
--------------------------------------------------------------*/
[data-theme="light"] {
	body {
		background: linear-gradient(324deg, rgba(29, 188, 238, 0.62) -8.16%, rgba(252, 199, 226, 0.81) 30.14%),
			linear-gradient(343deg, #fabfde -3.65%, #fff2f9 91.08%, rgba(80, 0, 0, 0.37) 106.58%, #fff2f9 106.58%);

		@media only screen and (max-width: 767px) {
			// background: linear-gradient(179.9deg, #01ff70 -3.93%, rgba(255, 255, 255, 0.5) 2.19%),
			// 	linear-gradient(180.15deg, #de4e67 7.63%, #e3667d 11.56%, #fcddec 23.06%),
			// 	linear-gradient(180deg, #fbfcff 0.22%, #ffffff 100%);
		}
	}

	.navbar {
		.navbar-nav {
			&.btn-nav {
				.nav-item {
					a {
						display: inline-flex;
						font-size: 15px;
						font-weight: 500;
						color: var(--title-color);
						padding: 6px 24px;
						border-radius: 10px;

						border: 0.925px solid #ff00e5;

						background: linear-gradient(92deg, rgba(255, 239, 248, 0.4) -5.21%, rgba(255, 130, 192, 0.07) 105.21%);

						box-shadow:
							0px 0.977px 0.977px 0px rgba(0, 0, 0, 0.25) inset,
							0px 0.977px 0.977px 0px rgba(0, 0, 0, 0.25);

						&:hover {
							background-color: var(--primary-color);
							color: var(--title-color);
						}
					}
				}
			}
		}
	}

	.btn-main {
		border-radius: 10px;
		border: 1.6px solid #ff00e5;
		background: linear-gradient(92deg, rgba(255, 239, 248, 0.4) -5.21%, rgba(255, 130, 192, 0.07) 105.21%);
		box-shadow:
			0px 1.689px 1.689px 0px rgba(0, 0, 0, 0.25) inset,
			0px 1.689px 1.689px 0px rgba(0, 0, 0, 0.25);

		&:hover {
			background-color: var(--primary-color);
			color: var(--title-color);
		}
	}
	.hero-area {
		background: transparent;
	}

	.why-sec {
		.arrow-link {
			color: var(--title-color);
			svg {
				fill: var(--title-color);
			}
		}
	}

	.why-single {
		background: rgba(255, 241, 248, 0.5);

		box-shadow: 0px 35px 100px 0px rgba(0, 0, 0, 0.15);

		// .why-body {
		// 	background: #ffffff;
		// 	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
		// }
		.why-logo {
			background-color: #fff;
			svg {
				path {
					fill: #000;
				}
			}
			.not-in {
				fill: none;
				path {
					fill: none;
					stroke: #000;
				}
			}
		}
	}

	//map

	.roadmap {
		background: rgba(255, 255, 255, 0.2);
		.click-tab {
			background: #fff1f8;
			box-shadow: 0px 35px 100px 0px rgba(0, 0, 0, 0.15);
			span {
				color: var(--text-color);
			}
			svg {
				height: 8px;
				fill: var(--text-color);
				margin: 0px 10px;
			}
			transition: all 0.2s ease-in;
			&:hover {
				transform: scale(1.01);
			}
		}

		.map-light{
			display: block;
		}
		.map-dark{
			display: none;
		}
	}

	//case

	.use-case {
		.sec-t {
			svg {
			}
			#paint0_linear_624_2630 stop:nth-child(1) {
				stop-color: black;
			}

			#paint0_linear_624_2630 stop:nth-child(2) {
				stop-opacity: 0;
			}
		}
	}

	.case-single {
		background: rgba(255, 241, 248, 0.50);

		box-shadow: 0px 35px 100px 0px rgba(0, 0, 0, 0.15);
		.gole{
			background-color: #FFF1F8;
		}
		svg {
			path {
				stroke: #000;
			}
		}
		.arrow-cl {
			path {
				fill: #000;
			}
		}
	}

	//team

	.team {
		background: rgba(255, 255, 255, 0.2);
	}

	.team-single {
		background: #FFF1F8;
		box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.12);
	}

	//footer

	.main-footer {
		background: rgba(132, 255, 194, 0);

		.footer-links {
			ul {
				a {
					color: #000;
				}
			}
		}
	}
} /* end  */
